esperienza1/LatekProject/main.aux
esperienza1/LatekProject/main.bbl
esperienza1/LatekProject/main.bcf
esperienza1/LatekProject/main.blg
esperienza1/LatekProject/main.fdb_latexmk
esperienza1/LatekProject/main.fls
esperienza1/LatekProject/main.log
esperienza1/LatekProject/main.out
esperienza1/LatekProject/main.pdf
esperienza1/LatekProject/main.synctex.gz
esperienza1/LatekProject/main.run.xml
texput.log
